/*cards mitos y leyendas*/
$c-bezier: cubic-bezier(.1,.22,.8,1.13);
.h1_mitos{
    margin-left: 5px;
}
.p_mitos{
    margin-left: 5px;
}
.cards-grid{
    display: flex;
    margin: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flip-card{
    width: 320px;
    height: 504px;
    margin: 20px;
    margin-bottom: 40px;
    perspective: 2000px;

    &-inner{
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 20px rgba(#000, 0.2);
        border-radius: 28px;
        transition: all 550ms $c-bezier;
        transform-style: preserve-3d;
    }
    &-front, &-back{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 28px;
        backface-visibility: hidden;
    }
    &-front{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-back{
        font-size: 1.25rem;
        text-align: center;
        display: grid;
        place-items: center;
        padding: 32px;
        background-color: rgb(99, 99, 99);
        transform: rotateY(180deg);
        overflow: auto;
    }
    &:hover .flip-card-inner{
        transform: rotateY(-180deg);
    }
}
.flip-card-inner{
    .img-mitos1{
            background-image: url(../images/img_ispecial.jpg);
    }
    .img-mitos2{
        background-image: url(../images/image_madre_agua.jpg);
    }
    .img-mitos3{
        background-image: url(../images/la_muelona.jpg);
    }
    .img-mitos4{
        background-image: url(../images/el_sombreron.jpg);
    }
}
@media (min-width: 751px){
    .p_mitos{
        display: none;
    }
}
@media (max-width: 1000px){
    .cards-grid{
        display: flex;
        margin: 80px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}